.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
/* Hide from IE Mac */
.clearfix {display:block;}


.index_nav_warp{
width:992px;
margin:0 auto;
}
.index_nav_homelink{
width:98px;
height:90px;
background:url(index_nav_homelink.jpg) no-repeat 0 0;
position:relative;
float:left;
}
.index_nav_homelink a{
text-indent:-9999px;
display:block;
width:64px;
height:44px;
position:absolute;
top:22px;
left:11px;
}
.index_nav{
width:888px;
height:80px;
overflow:hidden;
background:url(index_nav_bg.jpg) no-repeat 0 0;
float:left;
padding:5px 0;
padding-left: 5px;
}
.index_nav ul li{
width:100%;
float:left;
height:20px;
white-space:nowrap;
}
.index_nav li a:link,.index_nav li a:visited{
display:inline-block;
font-size:12px;
line-height:20px;
color:#fff;
}
.index_nav li a:hover{
color:#faf893;
}
.index_nav li.index_nav_1 a{
padding-right:20px;
}
.index_nav li.index_nav_2 a{
padding-right:10px;
}
.index_nav li.index_nav_3 a{
padding-right:9px;
}
.index_nav li.index_nav_4 a{
padding-right:41px;
}
.index_nav li.index_nav_3 a.prlitttl{
padding-right:7px;
}
.index_nav li a.pr0{
padding-right:0;
}
.index_nav li.index_nav_1 a.pr0{
padding-left:3px;
}
.index_nav li.index_nav_4 a.pr0{
padding-left:3px;
}
.index_col_4{
width:989px;
margin:0 auto;
border-spacing:0;
padding-bottom:10px;
}
.index_col_4.ic_2{
padding-bottom:0;
}
.index_col_4 .clo_t{
height:40px;
width:989px;
background:url(index_bg_11.png) no-repeat 0 0;
text-indent:-9999px; 
margin:0;
}
.index_col_4 .item{
width:240px;
background:#fff;
margin-right:8px;
}
.index_col_4.ic_2 .item {
height:195px;
margin-bottom:10px;
}
.index_col_4 .item.ic_2 .item_t{
margin-bottom:6px;
}

.index_col_4 .item table{
border-collapse: 0;
border-spacing: 0;
}
.index_col_4 .item .item_t{
margin:0;
height:40px;
background:url(index_col_4_bg.jpg) no-repeat 0 0 #fff;
padding-left:40px;
color:#fff;
font-size:14px;
font-weight:bold;
line-height:30px;
}
.index_col_4 .item.mr0{
margin-right:0;
}

.index_col_4.ic_2 .clo_t {
background:url(index_bg_14.png) no-repeat 0 0;
}

.index_col_4 .item .more_link a:link,.index_col_4 .item .more_link a:visited{
color:#c00;
font-size:12px;
}
.index_col_4 .item .more_link{
text-align:right;
padding-bottom:10px;
padding-right:10px;
}
.leader_mzd{
height:101px;
width:78px;
background:url(index_leader_17.png) no-repeat 0 0;
}
.leader_zel{
height:101px;
width:78px;
background:url(index_leader_19.png) no-repeat 0 0;
}
.leader_lsq{
height:101px;
width:78px;
background:url(index_leader_21.png) no-repeat 0 0;
}
.leader_zd{
height:101px;
width:78px;
background:url(index_leader_23.png) no-repeat 0 0;
}
.leader_rbs{
height:101px;
width:78px;
background:url(index_leader_29.png) no-repeat 0 0;
}
.leader_dxp{
height:101px;
width:78px;
background:url(index_leader_30.png) no-repeat 0 0;
}
.leader_cy{
height:101px;
width:78px;
background:url(index_leader_31.jpg) no-repeat 0 0;
}

.clo_3_t_1{
height:40px;
width:989px;
background:url(index_bg_17.png) no-repeat 0 0;
text-indent:-9999px; 
margin:0;
} 
.clo_3_t_2{
height:40px;
width:989px;
background:url(index_bg_19.png) no-repeat 0 0;
text-indent:-9999px; 
margin:0;
} 
.name_list{
width:986px;
margin:0 auto;
background:#fff;
padding-bottom:10px;
}
.name_list_t{
height:34px;
width:982px;
background:url(index_bg_22.png) no-repeat 0 0;
margin:5px 0;
}
.name_list_t span{
float:left;
padding-left:120px;
font-size:14px;
line-height:34px;
font-weight:normal;
color:#303030;
}
.name_list_t a:link,.name_list_t a:visited{
float:right;
padding-left:100px;
font-size:12px;
color:#303030;
line-height:34px;
font-weight:normal;
padding-right:10px;
}
.name_list_t a:hover{
color:#ff6001;
}
.name_list table {
width:100%;
}
.name_list table {
text-align:center;
width:100%;
}
.name_list table td{
padding:5px 0;
}
.name_list table tr td a{
font-size:14px;
padding-left:10px;
line-height:14px;
background:url(dot.png) no-repeat 2px center;
}
.books{
height:385px;
width:314px;
margin-top:10px;
padding-top:30px;
background:url(index_bg_25.png) no-repeat center top #fff;
}
.books table {
width:280px;
height:370px;
}
.books table td{
text-align:center;
padding:0;
}
.books table td img{
width:86px;
height:116px;
margin:0 auto;
}
.index_yjh{
background:url(index_bg_29.png) repeat-x 0 top #fff; 
padding-bottom:3px;
width: 467px;
margin: 0 auto;
}
.index_yjh_tb{
height:150px;
}
.miniSpace{
letter-spacing:-1px;
}