@charset "utf-8";
/* CSS Document */

html, span, object,h1, h2, h3, h4, h5, h6, em, dd, ol, ul, li, p, fieldset, dl, dd, dt, form,table, tbody, thead, tr, td,table,tr,td,img { margin:0;padding:0;border:0; font-size:100%; font-family:inherit; list-style:none;}

body{ font:12px "宋体";  color:#3e3e3e; margin:0px;padding:0px;  list-style:none; line-height:22px}
a{ color:#3e3e3e; text-decoration:none; }
a:hover{  color:#c4040f; text-decoration: underline   }
.clear_all {clear:both; height:0px; overflow:hidden;}
.center{margin:0 auto;}
.bk{ display:table; }
.red{ color:#FF0000}

.p2{ padding:2px;}
.p4{ padding:4px;}
.p7{ padding:7px;}
.p18{ padding:18px 0px 0px 0px}
.p17{padding:17px!important; padding:4px;}
.pb8{ padding-bottom:8px}

.m8{ margin-top:8px;}
.mb10{margin-bottom:10px;}

.tb{ font-weight:bold;}
.t14{ font-size:14px}
.t12{ font-size:12px}
.t24{ font-size:24px}
.t16{ font-size:16px; line-height:32px}
.t18{ font-size:20px;}



/*------------- xye add start------------*/
.xxx {
	width:100%;
}
.zztuku {
	width:310px;margin:0 auto;
}

DL {
	PADDING-BOTTOM: 0px;
	FONT-STYLE: normal;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px;
	FONT-STYLE: normal;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px;
	FONT-STYLE: normal;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px;
	FONT-STYLE: normal;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}
I {
	PADDING-BOTTOM: 0px;
	FONT-STYLE: normal;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}
.n {
	DISPLAY: none
}
.aL {
	DISPLAY: inline;
	WIDTH: 310px;
}
.f I {
	DISPLAY: inline;
	FLOAT: left
}
.p {
	LINE-HEIGHT: 24px;
	COLOR: #9f9e9e
}
.f H6 {
	LINE-HEIGHT: 30px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/titleA.png) #0ea3da no-repeat;
	HEIGHT: 30px;
	COLOR: #fff;
	FONT-SIZE: 14px;
	OVERFLOW: hidden;
	_line-height: 32px
}
.f P {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 38px;
	BACKGROUND-COLOR: #676767;
	HEIGHT: 38px;
	BORDER-TOP: #0ea3da 2px solid
}
.f P A {
	COLOR: #fff;
	FONT-SIZE: 14px
}
.f P A:hover {
	COLOR: #fff
}
.f DL {
	POSITION: relative
}
.f DT {
	Z-INDEX: 99;
	POSITION: absolute;
	RIGHT: 2px;
	TOP: 180px;
}
.f I {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 16px;
	BACKGROUND-COLOR: #676767;
	WIDTH: 16px;
	FONT-FAMILY: Arial;
	HEIGHT: 16px;
	COLOR: #fff;
	CURSOR: pointer;
	MARGIN-RIGHT: 4px
}
.f .c {
	BORDER-BOTTOM: red 1px solid;
	POSITION: relative;
	BACKGROUND-COLOR: red;
	COLOR: #fff8af;
	BORDER-TOP: red 1px solid;
	FONT-WEIGHT: bold;
	TOP: -5px
}

/*------------- xye add end------------*/

a.orange{color:#ff8a00;text-decoration:none; }
a.orange:hover{color:#ff8a00;text-decoration: underline; }
a.white{color:#ffffff;text-decoration:none;  }
a.white:hover{color:#ffffff;text-decoration: underline; }
a.hs{color:#a98c4f;text-decoration:none;  }
a.hs:hover{color:#a98c4f;text-decoration: underline; }
a.blue{color:#287bfd;text-decoration:none;  }
a.blue:hover{color:#ff8a00; text-decoration: underline }
a.red{color:#c30000;text-decoration:none;  }
a.red:hover{color:#c30000; text-decoration: underline }
.gray{ color:#424242}
.blue1{color:#026da3;}
.blue2{color:#0378dc;}
.blue3{ color:#0061af}
.white{color:#ffffff;}


.fb{ font-weight:bold}
.f16{ font-size:16px; font-weight:bold}
.f14{ font-size:14px; font-weight:bold}

.body_bg{ background: url(body_bg.png) repeat-x center top; background-color:#fff3db}
.content_bk{ width:1000px; margin:0 auto; padding:0px; }
.bk{ display:block; float:left}
.banner{ height:133px}
.banner img{ float:left; }
.banner span{padding-top:100px; float: right; padding-right:20px; color:#ffffff; display:block}

.menu_bg{ background:url(menu_bg1.jpg) no-repeat; height:72px; width:992px; color:#ffffff; }
.menu_pic{ float:left}
.menu_bg_link{ padding:2px 0px 2px 30px;float:left}
.menu_bg_link span{padding-left:15px; padding-right:14px;font:12px "Arial";}
.menu_bg_link a:link{color:#ffffff; }
.menu_bg_link a:visited{color:#ffffff; }
.menu_bg_link a:hover{color:#ffffff; }
.menu_bg_link a:active{color:#ffffff; }
.search_bg{ background:url(search_bg.jpg) repeat-x; height:37px; width:992px; margin-top:5px}
.search_bg input{ width:218px; height:15px; border:1px #f3ba83 solid; margin-right:10px; color:#666666}
.content_l{ width:279px; float:left; background:#FFFFFF; margin-right:10px; margin-top:6px; padding:5px;}
.title_1 .title_bg{ background: url(title_bg1.gif) no-repeat;  height:36px; width:279px; line-height:36px; }
.title_1 .title{ padding-left:10px; font-size:14px;font-weight:bold; color:#FFFFFF; float:left;height:36px; line-height:36px; }
.title_1 span{ float:right; padding-right:10px; }
.title_1 .pic{ border:1px #dddddd solid; padding:5px; }
.ul_list{border:5px #dddddd solid;}
.ul_list ul{ padding:5px;border:1px #dddddd solid; }
.ul_list li{ background:none; line-height:26px}
.title_1 .text{background:#ededed; padding-top:5px; padding-bottom:5px; text-align:center;}
.title_1 .text_list{ padding-top:5px; padding-bottom:5px;padding-left:5px;}
.title_1 .text_title{ width:257px; height:25px; background:#ffd978; margin:8px 0px}
.title_1 .text_title .title_l{ color:#c4040f; float:left; font-size:14px; padding-left:10px;font-weight:bold}

.title_2 .title_bg{ background: url(title_bg2.gif) no-repeat; border:1px #e4ddc2 solid; width:277px; height:27px; line-height:27px; }
.title_2 .title{ padding-left:40px;font-size:14px; font-weight:bold; color:#FFFFFF; float:left;height:27px; line-height:27px;}
.title_2 .text{}
.title_2 span{ float:right; padding-right:10px; }
.title_2 .pic{ border:1px #dddddd solid; padding:5px; background:#fff9e9 }
.title_2 .text{padding-top:5px; padding-bottom:5px; padding-left:10px}

.content_c{ width:446px; float:left;background:#FFFFFF; margin-right:7px; margin-top:6px; padding:5px}
.content_c_bg{ background:url(bg_05.gif) no-repeat; width:445px; }
.content_c_bg span{ padding-left:20px; padding-top:10px; color:#cf0711; font-weight:bold; font-size:14px; display:block}
.content_c_bg h2{ font-size:16px; font-weight:bold; color:#5f0403; text-align:center;  display:block; padding-top:35px; padding-bottom:14px; border-bottom:1px #9c9c9c dotted;}
.content_c_list{ display:block; width:445px; float:left}
.content_c_list ul li{width:427px; color:#252323; ; padding-left:8px}
.content_c_list li{ float:left; line-height:26px; font-size:14px}
.content_c_list li span{ float:right;color:#bababa;}
.content_c_list li a{color:#252323;}
.content_c_title {background: url(bg_06.gif) no-repeat; width:433px; height:25px; margin-left:10px; margin-top:10px}
.content_c_title1 {background: url(bg_07.gif) no-repeat; width:433px; height:25px; margin-left:10px; margin-top:10px}
.content_c_title2 {background: url(bg_06_n.gif) no-repeat;  width:433px; height:27px; margin-left:10px; margin-top:10px}
.content_c_title3 {background: url(bg_07_n.gif) no-repeat;  width:433px; height:27px; margin-left:10px; margin-top:10px}
.content_c_title4 {background: url(bg_08_n.gif) no-repeat;  width:433px; height:27px; margin-left:10px; margin-top:10px}
.content_c_title2 .title_l,.content_c_title3 .title_l,.content_c_title4 .title_l{padding-left:35px; padding-top:1px; font-size:14px; color:#ffffff; font-weight:bold; float:left }
.content_c_title2 .title_r,.content_c_title3 .title_r,.content_c_title4 .title_r{padding-right:16px; padding-top:3px; font-size:12px;  float:right;  }
.content_c_title .title_l,.content_c_title1 .title_l{padding-left:15px; padding-top:3px; font-size:14px; color:#c4040f; font-weight:bold; float:left }
.content_c_title .title_r,.content_c_title1 .title_r{padding-left:18px; padding-top:3px; font-size:12px;  float:right;  }


.content_r{ width:220px; height:855px; float:left;background:#FFFFFF; margin-top:6px; padding:5px}
.title_3 .title_bg{ background: url(title_bg1.gif) no-repeat;  height:36px; width:218px; line-height:36px; }
.title_3 .title{ padding-left:10px; font-weight:bold; font-size:14px;color:#FFFFFF; float:left;height:36px; line-height:36px; }
.title_3 span{ float:right; padding-right:10px; }
.title_3 .pic{ border:5px #dddddd solid; padding:5px; margin-top:6px; margin-bottom:14px!important;margin-bottom:10px; }
.title_3 .pic_img{ background:#dddddd; padding:6px; margin-top:6px; margin-bottom:10px; }
.title_3 .pic_img img{ border:4px #FFFFFF solid; margin-bottom:5px;margin-top:5px}
.title_3 .pic a{ background:url(bg_08.gif) no-repeat; width:160px; display:block; padding-left:30px; padding-right:10px; color:#cf0711; margin-top:12px}
.title_3 .text{background:#ededed; padding-top:5px; padding-bottom:5px; text-align: center}

.banner_bg{ margin:10px auto}
.ldr_content{ background:#FFFFFF; }
.ldr_content .title_bk{ border-left:1px #f8c86c solid;  border-right:1px #f8c86c solid; border-bottom:1px #f8c86c solid;  margin:10px; width:970px; display:block; }
.ldr_content .title_4{ background:url(bg_09.gif) repeat-x;height:31px;border-top:1px #f8c86c solid;}
.ldr_content .title_4 h1{ float:left; display:block; color:#c4040f;padding:4px 10px 4px 10px; font-weight:bold; font-size:14px }
.ldr_content .title_4 h2{ float:right; display:block; color:#3e3e3e;padding:4px 10px 4px 10px; font-size:12px; font-weight:normal;}
.ldr_content .nr{ padding:10px; height:100px; }
.ldr_content .nr img{ border:1px #bfbfbf solid; padding:3px; float:left; margin-right:10px}
.ldr_content .line_1{ background:url(line_1.gif) repeat-x; height:10px; }
.ldr_content .list{ width:480px; float:left; }
.ldr_content .list ul{margin-bottom:10px; display:block;float:left}
.ldr_content .list li{padding-left:10px;float:left; width:450px; }
.ldr_content .list li span{float:right;}
.ldr_content .title_bk1{ margin:10px; width:970px; display:block; }
.ldr_content .list1{ float:left;; margin-bottom:10px; }
.ldr_content .list1 li{padding-left:10px}
.ldr_content .l_481{ width:480px; float:left; margin-right:6px;  border-left:1px #f8c86c solid;  border-right:1px #f8c86c solid; border-bottom:1px #f8c86c solid; }
.ldr_content .l_480{ width:480px; float:left; border-left:1px #f8c86c solid;  border-right:1px #f8c86c solid; border-bottom:1px #f8c86c solid;  }
.ldr_content .l_317{ width:317px; float:left; margin-right:6px;  border-left:1px #f8c86c solid;  border-right:1px #f8c86c solid; border-bottom:1px #f8c86c solid; }


.content_683{ width:683px; float:left;background:#FFFFFF; margin-top:6px; padding:5px}
.content_683 .title{ background:url(title_bg4.gif) no-repeat; height:40px; line-height:30px; width:680px}
.content_683 .title_l{ float:left; padding-left:50px; font-size:14px; color:#FFFFFF; font-weight:bold}
.content_683 .title span{ float:right; padding-right:10px; color:#cb541c; }
.content_683 .title a:link{ color:#cb541c}
.content_683 .bk_330_l,.bk_330_r{  width:330px!important;width:326px; float:left; margin-top:10px; margin-right:5px;margin-left:5px}
.content_683 .bk_330{margin-bottom:10px}
.bk_330 .title_bg{ background:url(bg_10.gif) repeat-x; height:29px; line-height:29px;}
.bk_330 .title_bg2{ background:url(ww.jpg) repeat-x; height:29px; line-height:29px;}
.bk_330 .title_ml{ background:url(icon_01.gif) no-repeat 8px 4px;padding-left:35px; font-size:12px; font-weight:bold}
.bk_330 .title_m2{ padding-left:25px; font-size:14px; font-weight:bold; color:#c4040f}
.bk_330 span{ float:right; padding-right:10px}
.bk_330 .title_bg2 a{color:#a98c4f; }
.bk_330 .bk_list{ padding-left:10px; padding-top:8px; background:url(bg_11.gif) repeat-x;; line-height:24px;}
.bk_330 .bk_list1{ padding:8px;   }
.bk_330 .bk_list1 .pic{ margin-bottom:5px; height:119px; margin-top:8px}
.ul_line li{ background:url(line_2.gif) repeat-x bottom;; line-height:24px}
.bk_330 .pic img{ float:left; margin-right:10px}
.bk_220{ width:220px; float:left; margin-right:6px }
.bk_220 .title_220{ background:url(bg_13.gif) no-repeat; width:220px; height:26px; }
.bk_220 .title_3{float:left; padding-left:20px;font-size:14px; color:#c4040f; font-weight:bold;line-height:26px}
.bk_220 span{float:right; padding-right:2px; }
.bk_220_content{ float:left; width:215px; padding-top:8px;padding-bottom:12px!important; padding-bottom:6px}
.bk_220_content_l{ float:left}
.bk_220_content_r{ float:left; width:122px; }
.bk_220_content img{ border:1px #CCCCCC solid; padding:2px; margin-right:5px}

.content_980{ width:982px; float:left; background:#FFFFFF;  margin-top:6px; padding:5px;}
.content_600{width:594px; float:left; background:#FFFFFF;  margin-top:6px;margin-bottom:6px; margin-right:10px;padding:1px; border:1px #dedede solid }
.content_368{width:365px; float:left; background:#FFFFFF;  margin-top:6px;margin-bottom:6px;padding:1px;border:1px #dedede solid}
.zzs{ padding:5px;}
.zzs_bg{ background:url(bg_14.gif) no-repeat; width:355px; height:30px; }
.zzs_bg_1{ background:url(bg_17.gif) no-repeat; width:583px; height:30px; }
.zzs_bg a{ width:53px; padding:5px 10px 0px 8px; text-align:center;display:block; float:left}
.zzs_bg_1 a{ width:84px;  padding:5px 5px 0px 5px; text-align:center;display:block; float:left}
.zzs_nr{ padding:5px}
.zzs_nr_img{ float:left; width:560px; margin-bottom:10px;margin-top:10px}
.zzs_nr_img img{ padding:5px 3px 5px 3px}
.zzs_pic{ background:url(bg_15.gif) no-repeat; height:194px; width:121px; float:left; margin-right:10px; display:block}
.zzs_pic img{ padding:5px; }
.zzs_pic span{ padding-left:30px; padding-top:5px; display:block;}
.zzs_list{ float:left; width:210px; margin-top:3px}
.zzs_list_ul{width:210px; float:left}
.zzs_list_ul1{width:340px; margin-bottom:20px!important;margin-bottom:15px; display:block; float:left}
.zzs_list_ul2{width:574px; float:left}
.zzs_list_title{background:url(bg_16.gif) no-repeat; width:203px; height:20px; margin-bottom:5px}
.zzs_list h1{padding-left:15px; float:left; font-size:14px; color:#c4040f;}
.zzs_list span{ float:right; font-weight:normal; font-size:12px;}

.wxyjh_bg{ background:url(bg_18.gif) no-repeat; height:248px; height:238px!important;*height:246px!important; }
.wxyjh_l{ width:248px; padding:0px 10px;float:left; line-height:22px; margin-right:3px;}
.wxyjh_l img{display:block}
.wxyjh_r{ width:308px; float:left; padding:5px 5px; background:#FFFFFF; margin-top:8px; }
.wxyjh_r img,.wxyjh_r1 img{float:left;}
.wxyjh_r1{ float:left; width:305px;}
.wxyjh_list{width:180px;  margin-left:5px; float:left; }
.wxyjh_list a{background:url(../images/tab_hs.gif) no-repeat 2px 0px; padding-left:5px}
.wxyjh_list a:hover{background:url(../images/tab_red.gif) no-repeat 2px 0px; padding-left:5px}
.wxyjh_list a span{ padding-right:12px;padding-left:2px}
.wxyjh_list a:hover span{ padding-right:12px;padding-left:2px; color:#ffffff}
.wxyjh_list li{ line-height:21px;}

.xglj{ background:#FFFFFF; width:982px; padding:5px; margin-top:6px; float:left;}
.xglj_bg{ background:url(bg_20.gif) repeat-x; height:82px; border:1px #e2e2e2 solid}
.xglj_bg img{ float:left; margin-right:10px}
.xglj_bg a{ padding:0px 6px; }
.xglj_link{ padding:10px 20px 10px 10px}
.foot{ border-top:3px #db2616 solid; text-align:center; font-family:Arial; padding:20px}





/*概览-二级*/
.gl_loc{width:992px; margin-top:4px; padding-top:11px; padding-bottom:19px; background-color:#fff;}
.gl_loc1{width:992px; margin-top:4px;  padding-bottom:19px; background-color:#fff;}
.yx{ border:1px #f00 solid;}
.gl_left{border:1px #f6cb77 solid;}
.gl_wz{background:url(gl_leftbg1.gif) repeat-x; margin-bottom:12px;}
.gl_wz a{color:#000000;}
.gl_wz a:hover{color:#000000;}
.gl_wz span{color:#b90100;}
.lmm{ background:url(gl_lmm.gif) no-repeat;}
.gl_mb1{ margin:0 auto 10px;}
.gl_list1 td{line-height:32px;}
.gl_list1 a{color:#000000; font-size:16px;}
.gl_list1 span{color:#999999; font-size:16px;}

.fy{ width:670px; height:37px;  margin:20px auto 13px; overflow:hidden;}
.endPageNum { text-align:-moz-center;_text-align:center; *text-align:center; overflow:hidden;}
.endPageNum .s1 { TEXT-ALIGN: center; }
.endPageNum .s2 { BORDER: #c9c9c9 1px solid; TEXT-ALIGN: center;  BACKGROUND: #d80000; COLOR: #fff; FONT-WEIGHT: bold; }
.endPageNum A.s2:visited { COLOR: #fff}
.endPageNum A {BORDER: #c9c9c9 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; display:inline-block; BACKGROUND: #fff; FLOAT: left; COLOR: #000000; height:20px; line-height:20px; margin:0 2px;}
.endPageNum A:visited {COLOR: #9b2825}

.endPageNum A:hover {BORDER: #c9c9c9 1px solid; BACKGROUND: #d80000; FLOAT: left; COLOR: #fff; text-decoration:none }
.endPageNum .s3 {BORDER: #c9c9c9 1px solid; TEXT-ALIGN: center;  PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; display:inline-block; BACKGROUND: #fff; FLOAT: left; COLOR: #ccc; CURSOR: default;height:20px; line-height:20px;}
.endPageNum A.s3:visited { BACKGROUND: #fff; color:#ccc; }
.endPageNum A.s3:hover { BACKGROUND: #fff;COLOR: #ccc;BORDER: #c9c9c9 1px solid; text-decoration:none}

.gl_right{border:1px #f6cb77 solid; background-color:#fee8b4;}
.gl_ld{width:262px; background-color:#FFF; margin:10px auto; padding:10px 0 13px;}
.gl_yj{border-bottom:1px #b80100 solid;}
.gl_yj span{color:#b90100; font-weight:bold; line-height:25px; font-size:14px;}
.gl_rm{margin:10px auto 10px 15px; width:244px;}
.gl_rm li{width:80px; float:left; line-height:24px;}
.gl_ph{background:url(gl_ph.gif) 10px 6px no-repeat; margin-top:8px;}
.gl_ph li{ padding-left:29px; line-height:26px;}
.gl_bg1{height:37px; width:678px; background:url(gl_lm.gif) no-repeat; margin:18px auto 24px;}
.gl_red{color:#b80f0e; width:64px; margin-right:9px;display:block; float:left}
.gl_red:hover{color:#b80f0e;}

/*视频*/
.sp_mol1{width:665px; background:url(sp_xx.gif) bottom repeat-x; padding-bottom:24px; margin:0 auto 20px;}
.sp_vd li{width:148px; float:left; margin:0 10px 0 8px; _margin:0 10px 0 6px;}
.sp_vd li img{padding:4px; background-color:#f7f7f8; border:1px #e9e9e9 solid;}
.sp_vd li p{font-size:12px; color:#000; width:134px; margin:3px auto 0; line-height:18px;}
.sp_ft{margin-top:8px;}
.sp_ft li{ line-height:26px; padding-left:12px;}
.sp_xlbt{font-size:24px; font-family:"微软雅黑"; color:#000000; margin:40px auto 44px; text-align:center; line-height:30px;}
.sp_lm{margin:0 auto 52px; color:#707070; line-height:30px;}
.sp_lm a{ color:#707070;}
.sp_lm a:hover{ color:#c4040f;}
.sp_bf{width:540px; height:329px; margin:0 auto 60px;}
.sp_con{width:835px; font-size:14px; color:#000000; line-height:28px; margin:0 auto;}
.sp_pt{width:868px; height:34px; text-align:center; color:#707070; margin:46px auto 44px; background:url(sp_bg1.gif) no-repeat; line-height:30px;}
.sp_pt a{ color:#707070;}
.sp_pt a:hover{ color:#c4040f;}

/*细览*/
.sp_xlbt2{font-size:24px; font-family:"微软雅黑"; color:#000000; margin:40px auto 8px; text-align:center; line-height:30px;}
.sp_fbt{ padding:4px;line-height:20px; font-weight:bold; color:#525252; text-align:center}
.sp_lm2{margin:20px 20px 0px 20px; color:#707070; line-height:30px;}
.sp_lm2 a{ color:#707070;}
.sp_lm2 a:hover{ color:#c4040f;}
.sp_con2{width:835px; margin:0 auto;}

.clicktxt { overflow: hidden; width:248px;  margin:0 auto; padding-bottom:10px; padding-top:12px;}

.clicktxt dl { float: left;  display: inline;  width: 248px;}

.clicktxt dl dd { float: left;}
.pductmod dl dt { float: left;}
.clicktxt dl.bg { float: left; padding-right: 0px; padding-left: 0px;  padding-bottom: 0px; width:248px; height:23px; margin-top:1px; margin-bottom:2px;}
.clicktxt dl.nobg { background: none transparent scroll repeat 0% 0%;}

.lt01 { float:left; background:url(sp_paihang.gif) no-repeat;  width:13px; height:13px; text-align: center;}
.lt01_1 { float:left; background:url(sp_paihang.gif) 0px -86px no-repeat; width:13px; height:13px; text-align: center; }
.lt01_2 { float:left; background:url(sp_paihang.gif) 0px -113px no-repeat; width:13px; height:13px; text-align: center;}
.lt01_3 { float:left; background:url(sp_paihang.gif) 0px -138px no-repeat; width:13px; height:13px; text-align: center;}
.lt01_4 { float:left; background:url(sp_paihang.gif) 0px -164px no-repeat; width:13px; height:13px; text-align: center;}
.lt01_5 { float:left; background:url(sp_paihang.gif) 0px -191px no-repeat; width:13px; height:13px; text-align: center; }
.lt01_6 { float:left; background:url(sp_paihang.gif) 0px -216px no-repeat; width:13px; height:13px; text-align: center;}
.lt01_7 { float:left; background:url(sp_paihang.gif) 0px -242px no-repeat; width:13px; height:13px; text-align: center;}
.lt01_8 { float:left; background:url(sp_paihang.gif) 0px -268px no-repeat; width:13px; height:13px; text-align: center;}
.lt01_9 { float:left; background:url(sp_paihang.gif) 0px -294px no-repeat; width:13px; height:13px; text-align: center; }
.lt02 { margin-left:9px; width:226px;  margin-bottom:20px;}
.pc{ float:left; width: 96px; height: 64px; margin-right:10px; display:block;}
.lt03 { float:left; padding-left:6px; width:218px; color: #7c7c7a; line-height: 26px; display: none}
.dj { color:#4f4e4e; line-height:22px; display:block; margin-top:0; margin-bottom:4px;}

.bg .lt01 { float:left; width: 13px; height: 13px; text-align: center; }
.bg .lt01_1 { float:left; width: 13px; height: 13px; text-align: center;}
.bg .lt01_2 { float:left; width: 13px; height: 13px; text-align: center;}
.bg .lt01_3 { float:left; width: 13px; height: 13px; text-align: center;}
.bg .lt01_4 { float:left; width: 13px; height: 13px; text-align: center;}

.bg .lt02 { float:left; display: none;}
.bg .lt03 { float:left; overflow: hidden; width: 228px; color: #515151; line-height: 14px; height: 23px; display: block;}

/*《党的文献》杂志社*/
.wx_mb1{width:279px; border:1px #f8c86c solid;}
.wx_lm1{width:249px; background:url(wx_lm1.gif) no-repeat; height:34px; line-height:30px; color:#c70e16; font-size:14px; font-weight:bold; margin:1px auto 0; padding-left:28px;}
.wx_book{margin:19px auto 14px; width:186px;}
.wx_book img{ border:1px #eaeaea solid; padding:6px;}
.wx_ms{color:#404040; line-height:24px; font-size:12px; width:260px; margin:0 auto;}
.wx_ms span{color:#ff0000;}
.wx_ms a{color:#ff0000;}
.wx_ms a:hover{color:#ff0000;}
.wx_zz{color:#404040; line-height:26px; width:233px; margin:14px auto 16px;}
.wx_mb2{width:418px; border:1px #f8c86c solid;}
.wx_ys1{width:416px; background:url(wx_lm2.gif) no-repeat; height:35px; line-height:32px; margin:1px auto 0;}
.wx_ys1 span{color:#c70e16; font-size:14px; font-weight:bold;}
.wx_ys1 a{color:#6e6e6e}
.wx_ys1 a:hover{color:#c4040f}
.wx_bt1{ text-align:center; font-weight:bold; color:#404040; line-height:26px; padding:8px 0 20px;}
.wx_nr{width:402px; background:url(wx_xx1.gif) bottom repeat-x; line-height:24px; color:#686868; padding-bottom:12px; margin:0 auto 12px;}
.wx_nr span{color:#ff0000}
.wx_nr a{color:#ff0000}
.wx_nr a:hover{color:#ff0000}
.wx_lb1{width:386px; margin:0 auto 12px;}
.wx_lb1 li{line-height:24px;}
.wx_lb1 li a{ color:#404040;}
.wx_lb1 li a:hover{ color:#404040;}
.wx_mtb1{margin:14px auto 15px;}
.wx_mtb1 img{padding:2px; border:1px #e9e9e9 solid;}
.wx_bt1x{ font-weight:bold; color:#000; margin-bottom:6px;}
.wx_nrx{width:310px; line-height:24px; color:#787878;}
.wx_nrx span{color:#ff0000}
.wx_nrx a{color:#ff0000}
.wx_nrx a:hover{color:#ff0000}
.wx_mb3{width:258px; border:1px #f8c86c solid;}
.wx_ys2{width:258px; background:url(wx_lm3.gif) no-repeat; height:37px; line-height:34px; margin:0 auto;}
.wx_ys2 span{color:#c70e16; font-size:14px; font-weight:bold;}
.wx_ys2 a{color:#6e6e6e}
.wx_ys2 a:hover{color:#c4040f}
.wx_lb2{width:254px; margin:10px auto 12px;}
.wx_lb2 li{line-height:24px;}
.wx_lb2 li a{ color:#404040;}
.wx_lb2 li a:hover{ color:#404040;}
.wx_mb4{width:258px; border:1px #f8c86c solid;}
.wx_lm4{width:230px; background:url(wx_lm4.gif) no-repeat; height:36px; line-height:30px; color:#c70e16; font-size:14px; font-weight:bold; margin:1px auto 0; padding-left:28px;}
.wx_cl{margin:10px auto 12px; color:#404040;}
.wx_cl2{margin:10px auto 12px; color:#404040; width:233px; line-height:24px;}

/*机构设置*/
/*机构设置*/
.jg_pic{ margin-top:30px; margin-left:76px;}
.jg_content,.jg_content p{ margin-top:30px; margin-left:50px;margin-right:50px; line-height:36px; font-size:16px}
.jg_content div{ font-family: "宋体"; font-size:22px; text-indent:2em; line-height:32px;}
/*.jg_content div{ font-family: 仿宋_GB2312; font-size:22px; text-indent:2em; line-height:32px;}*/
.jg_content .TRS_Editor{font-family: "宋体";font-size:16px; line-height:32px;}
.jg_lbt{width:236px; margin:10px auto 10px;}
.jg_lbt li{background:url(jg_xx1.gif) bottom repeat-x; line-height:30px; font-size:14px;}
.jg_lbt li a{color:#3e3e3e}
.jg_lbt li a:hover{color:#c4040f}

/*概览-大事记*/
.gl_nf{ background:url(jg_xx1.gif) bottom repeat-x; line-height:36px; font-size:14px;}
.gl_nf a{color:#3e3e3e; width:74px; height:23px; display:block; line-height:23px;}
.gl_nf a:hover{ background-color:#b80100; color:#fff; text-decoration:none}
.gl_dw{width:224px; margin:10px auto 10px;}
.wx_dsj{ width:667px; font-size:16px; font-weight:bold; color:#b80100; text-align:center; border-bottom:2px #b80100 solid; padding-bottom:22px; margin:20px auto 0;}
.wx_mol1{font-family: "宋体";font-size:12pt;width:628px; padding:8px 12px 8px 20px;margin:0 auto 9px;text-indent: 2em;line-height:200%;}
.wx_mol1 p{font-family: "宋体";font-size:12pt;width:628px;margin:0 auto 9px;text-indent: 2em;line-height:200%;}
.wx_m1 span{color:#000000; font-weight:bold;}
.wx_m1 p{color:#3e3e3e; line-height:200%;}
.wx_sx{margin:27px auto 47px;}


/*概览-领导成员*/
.ld_xx1{ background:url(cy_xx1.gif) bottom repeat-x; padding-bottom:6px; margin:0 auto 25px;}
.ld_ld{padding-top:10px; background:url(../images/cy_picbg1.gif) no-repeat; height:218px;}
.ld_ld p{background-color:#f5f5f5; height:34px; line-height:34px; width:150px; margin:4px auto 0;}
.ld_ys1{color:#3f4246; font-size:14px; line-height:30px;}
.ld_blk{color:#3f4246;}
.ld_blk:hover{color:#f00;}
.ld_dw{margin-top:20px; margin-bottom:26px;}
.dl_jg{width:228px; font-size:14px; line-height:30px; color:#3e3e3e; margin:10px auto 14px;}
.gl_zr{color:#b90100; line-height:28px;}
.gl_zr a{color:#b90100;}
.gl_zr a:hover{color:#b90100;}
.gl_bb1 img{border:3px #dddddc solid;}
.gl_mtb1{margin:12px auto 18px;}
.gl_mtb2{margin:0 auto 18px;}
.gl_mtb3{margin:0 auto;}
.gl_ys1 td{line-height:24px; color:#3e3e3e;}




/*搜索*/
.m_t2{ margin-top:2px}
.m_t8{ margin-top:8px}
.red1{ color:#c30100}
.m_search_bg{ background: url(m_search_bg1.gif) repeat-x; border:1px #ffefd2 solid}
.jl{ padding-left:15px; padding-right:15px; color:#707070}
.search_left{border:1px #dce0e8 solid; background:#f6f6f6}
.search_right{border:1px #dce0e8 solid;}
.search_tiele{ background: url(m_search_icon1.gif) no-repeat 13px 14px; height:40px; line-height:40px; padding-left:30px;border-bottom:1px #bababa solid; color:#c4040f; font-size:14px; font-weight:bold}
.search_left ul{ width:167px; display: block; border:1p #CCCC00 solid; margin:0px auto; font-size:14px}
.search_left .search_left_li1{ background:url(m_search_icon2.gif) no-repeat; height:23px; line-height:23px;padding-left:25px; margin:12px 0px 12px 0px}
.search_left a:hover{ font-weight:bold}
.search_left .search_left_li2{background:url(m_search_icon3.gif) no-repeat; height:23px; line-height:23px; padding-left:40px;margin:12px 0px 12px 0px} 
a.search_mr{ font-weight:bold; color:#c4040f}

.search_content{width:775px; padding:13px 0px;}
.search_content .tabbox{border-bottom:1px solid #d70f02; height:28px;}
.search_content .tabbox .tabbox_L{float:left;}
.search_content .tabbox .tabbox_L ul li{float:left; height:28px; width:64px; background:url(tabnavbg.gif) no-repeat; text-align:center; margin-left:7px; line-height:28px; color:#787878; font-weight:bold; font-size:14px;}
.search_content .tabbox .tabbox_L ul li.hover{background:url(tabnavbg_h.gif) no-repeat; color:#000;}
.search_content .tabbox .tabbox_L ul li a{color:#787878;}
.search_content .tabbox .tabbox_L ul li.hover a{color:#fff;}
.search_content .tabbox .tabbox_L ul li a:hover, .search_content .tabbox .tabbox_L ul li.hover a:hover{color:#d6000f;}
.search_content .tabbox .tabbox_R{float:right;}
.search_content .tabbox .tabbox_R span{color:#f00;}

.search_contentlist{background:url(../images/bg01.gif) bottom repeat-x #fff; border-bottom:1px solid #ccc;}
.search_contentlist2{background:url(../images/line_x.gif) bottom repeat-x;}
.search_contentlist .h1,
.search_contentlist2 .h1{padding:10px 0px 10px 10px; font-family:"微软雅黑","宋体";}
.search_contentlist .h1 a,
.search_contentlist2 .h1 a{font-size:14px; font-family:"微软雅黑","宋体"; color:#2c87ce;}
.search_contentlist .h1 a:hover,
.search_contentlist2 .h1 a:hover{color:#d6000f;}
.search_contentlist .h1 span,
.search_contentlist2 .h1 span{color:#f00; font-family:"微软雅黑","宋体";}

.search_contentlist .text,
.search_contentlist2 .text{line-height:20px; padding-bottom:10px;}
.search_contentlist .text .img,
.search_contentlist2 .text .img{background:url(../images/imgbg.gif) right bottom no-repeat; padding-bottom:6px;}
.search_contentlist .text .img img,
.search_contentlist2 .text .img img{width:80px; height:95px; padding:3px; border:1px solid #cbcbcb; margin-left:10px;}

.search_contentlist .text .txt,
.search_contentlist2 .text .txt{padding:0px 10px; color:#555;}
.search_contentlist .text .txt span,
.search_contentlist2 .text .txt span{color:#f00;}
.search_contentlist .text .fileinfo,
.search_contentlist2 .text .fileinfo{color:#999; padding:10px}
.search_contentlist .text .fileinfo td,
.search_contentlist2 .text .fileinfo td{padding-right:15px;}
.search_contentlist .text .fileinfo a,
.search_contentlist2 .text .fileinfo a{color:#2c87ce;}
.search_contentlist .text .fileinfo a:hover,
.search_contentlist2 .text .fileinfo a:hover{color:#d6000f;}

.button2txt{width:67px; height:26px; color:#444; cursor:pointer; border:0; line-height:26px; background:url(button2txt.gif) no-repeat; padding-left:15px; margin:0px 3px; font-size:12px;}
.button2txt:hover{color:#d6000f;}
.button2txt2{width:77px; height:26px; color:#444; cursor:pointer; border:0; line-height:26px; background:url(button2txt2.gif) no-repeat; text-align:center; margin:0px 3px; font-size:12px;}
.button2txt2:hover{color:#d6000f;}

.input_boder{ border:none; background:none; width:450px; padding-top:5px; color:#999999}
.input_boder1{ border:1px #dadada solid; background:url(m_search_bg5.gif) repeat-x; width:236px; height:21px; line-height:21px; color:#999999}

.search_table_bk{ padding:5px; }
.search_table_bk a{ color:#0b6797}
.search_table_bk th{ background:url(m_search_bg6.gif) repeat-x; color:#FFFFFF; height:28px }
.search_table_td{ background:#f0f0f0; padding-left:20px; height:30px; line-height:30px}
.search_table_td1{ background:#e3e5e8; padding-left:20px; height:30px; line-height:30px}
.search_fy a{ color:#5790b4; padding:0px 3px; font-size:12px; font-family:Arial; font-weight:bold }
.search_fy a:hover{ color:#ff0000;}

/*编研成果*/
.m_l10{ margin-left:13px}
.bycg_mr{ padding:20px 0px 10px 10px; width:675px;}
.bycg_bg{ background:url(xycg_bg1.gif) repeat-x; height:53px;}
.bycg_bk{ width:325px; float:left;margin-bottom:40px!important;*margin-bottom:30px!important;}
.bycg_l{ width:95px; float:left}
.bycg_r{ width:215px;float:left; padding-left:10px;}
.bycg_r span{color:#000000;height:43px; display:block; font-weight:bold}
.bycg_r ul li{ line-height:28px;}
.bycg_r li{ border-bottom:1px #CCCCCC dashed; line-height:28px;}
.bycg_r li a{ color:#c4040f}
.bycg_l img{ border:1px #dedede solid; padding:2px}
.bycg_ph{margin:10px auto 10px 15px; }
.bycg_ph li{width:244px; float:left; line-height:14px; background:url(bycg_icon2.gif) no-repeat 0px 4px; height:85px; border-bottom:1px #dedede solid; margin-bottom:15px}
li.bycg_ph_limr{background:url(bycg_icon1.gif) no-repeat 0px 4px; color:#990000; }
.bycg_ph li span{ float:left;padding:2px; margin-right:10px;color:#ffffff;}
.bycg_ph .bycg_ph_pic{ float:left; width:70px; height:70px;border:1px #CCCCCC solid; }
.bycg_ph_pic img{ width:48px; height:70px; }
.bycg_ph_title{float:left; width:130px; padding-left:10px; font-weight:bold; display:block; margin-bottom:10px}
.bycg_ph_content{float:left; width:130px; height:42px; overflow:hidden; padding-left:10px; color:#9a9a9a}
.bycg_img{ padding:4px; border:1px #dedede solid}

/*编研成果细览*/
.bycg_x_bk{ width:662px; float:left;}
.bycg_x_l{ width:187px; height:228px; float:left; background: url(bycg_bg1.gif) no-repeat; }
.bycg_x_l img{ padding:5px 2px 2px 5px; width:155px; height:217px}
.bycg_x_r{ width:475px;float:left;}
.bycg_x_r span{color:#000000;height:43px; font-size:14px; display:block; font-weight:bold}
.bycg_x_r ul li{ line-height:28px;}
.bycg_x_r li{ border-bottom:1px #CCCCCC dashed; line-height:28px;}
.bycg_x_r li img{ padding:5px 0px}
.bycg_x_r li a{ color:#c4040f}
.bycg_x_t{ width:662px; margin-top:20px; float:left; background:url(bycg_bg2.gif) repeat-x; }
.bycg_x_text{height:200px;overflow-x: hidden; overflow-y: auto; padding:10px 20px; }
.bycg_x_t h1{color:#b80100; font-size:14px; padding-left:15px}
.bycg_x_t p{padding:15px 15px; color:#4c4c4b}
.bycg_x_pic{ width:109px; margin-top:15px; margin-right:30px; margin-left:15px; background:url(bycg_bg3.gif) no-repeat; float:left}
.bycg_x_pic img{width:92px; height:130px; padding-left:14px; padding-top:3px; }
.bycg_x_pic_t{padding-left:14px; padding-top:5px; line-height:18px}
.bycg_x_pic_t a{color:#666666;}
.bycg_x_ml{ height:695px; padding:0px 12px; margin-top:12px;}
.bycg_x_ml a{ display:block; line-height:26px}

/*成果概览*/
.cggl_bk{width:662px; height:160px;border-bottom:1px #CCCCCC dashed; float:left;margin-bottom:30px;}
.cggl_l{ width:95px; float:left}
.cggl_r{ width:550px;float:left; padding-left:10px;}
.cggl_r h1,.cggl_zl_r h1{color:#b90100; padding-bottom:10px;font-size:14px; display:block; font-weight:bold}
.cggl_r_t{ height:30px; line-height:30px;}
.cggl_r .cggl_r_t span{ float:left; display:block; font-weight:bold; padding-top:10px; padding-right:30px; height:24px; }
.cggl_r_t a{ color:#FF0000}
.cggl_l img{ border:1px #dedede solid; padding:2px; width:91px; height:127px}

.cggl_zl_bk{width:662px; height:140px;border-bottom:1px #CCCCCC dashed; float:left;margin-bottom:20px;}
.cggl_zl_l{ width:187px; padding-top:4px; float:left}
.cggl_zl_l img{border:1px #dedede solid; padding:2px; width:167px; height:111px}
.cggl_zl_r{ width:465px;float:left;}
.cggl_zl_r .cggl_r_t span{ float:left; display:block; padding-top:2px; margin-right:15px;height:24px; }

.cggl_bk1{width:662px; height:250px;border-bottom:1px #CCCCCC dashed; float:left;margin-bottom:30px;}
.cggl_bk2{width:160px; float:left;margin-left:25px; margin-right:25px; margin-bottom:30px;}
.cggl_pic img{ border:1px #dedede solid; padding:2px; margin-left:10px; width:130px; height:181px}
.cggl_text{ text-align:center; padding-top:10px; height:60px}
.cggl_bk3{width:200px; float:left;margin-left:12px; margin-right:12px; margin-bottom:30px;}
.cggl_pic1 img{border:1px #dedede solid; padding:2px; margin-left:3px; width:188px; height:138px}
.cggl_text1{ text-align:center; padding-top:10px; height:60px}

/*中国中共文献研究会*/
.mb_15{ margin-bottom:15px}
.yjh_bg{ background:url(yjh_bg2.jpg) repeat-x; display:block; height:33px}
.yjh_menu{ float:right; height:33px; display:block}
.yjh_bg a{ float:left;padding-left:10px; padding-right:10px; display:block}
.yjh_bg span{float:left;}
.yjh_bk{width:352px; border:1px #e9e9e9 solid;}
.yjh_img{width:346px; border:1px #e9e9e9 solid; padding:3px}
.yjh_title{ background:url(yjh_bg3.jpg) no-repeat 2px 2px; width:315px; height:37px; padding:7px 0px 0px 35px; color:#c70e16; font-weight:bold; font-size:14px }
.yjh_title span{ float:right; padding-right:10px; font-size:12px; font-weight:normal; }
.yjh_title span a{color:#6e6e6e}
.yjh_title span a:hover{color:#c4040f}
.yjh_content{padding:0px 10px 10px 10px}
.yjh_content li{ width:330px; height:24px; line-height:24px;}
.yjh_content h1{ font-size:16px; font-weight:bold; text-align:center; padding:5px 0px; }
.yjh_content_hs{ color:#686868; padding:0px 0px 10px 10px; margin-bottom:8px; border-bottom:1px #CCCCCC dotted}
.yjh_link li{ line-height:24px; height:24px}
.yjh_link span{ padding-right:20px}
.yjh_bk1{width:248px; border:1px #e9e9e9 solid;}
.yjh_bk1 li{ line-height:24px; padding:2px 10px}
.yjh_bk2{width:230px; padding:0px 10px; }
.yjh_title1{ background:url(yjh_bg4.jpg) no-repeat 2px 2px; width:236px; height:24px; padding:7px 0px 0px 10px; color:#c70e16; font-weight:bold; font-size:14px; border-bottom:1px #d5d5d5 solid; }
.yjh_title1 img{ padding-right:8px; float:left; padding-top:2px}
.yjh_title1 h1{ float:left}
.yjh_title1 a{ float:right; padding-right:10px; font-weight:normal; font-size:12px; color:#c4040f}
.yjh_title2{ background:url(yjh_pic3.jpg) no-repeat 0px 4px; padding-left:20px; border-bottom:1px #c4040f solid; font-size:12px; font-weight:bold;color:#c4040f; height:25px; line-height:25px; margin-top:10px}
.yjh_title2 span{ float:left}
.yjh_title2 a{ float:left}

.yjh_content1,.yjh_content2{padding:5px}
.yjh_content2 li{padding:4px 5px; float:left;width:40px; display:block; }
.yjh_content1 li{ width:220px; display:block; float:left}
.yjh_content1 a{padding:4px 5px; _padding:3px 5px;*padding:3px 5px!important;width:40px; display:block; float:left;}
.yjh_content1 span{ float:left;padding:5px; font-weight:bold; color:#000000}

.yjh_pic{ border:1px #e9e9e9 solid; background:#f7f7f7}
.yjh_pic img{ padding:8px 5px 8px 9px}

/*中国中共文献研究会---分会*/
.yjhfh_bg{ background:url(fh_bg.gif) repeat-x; display:block; height:52px}
.yjhfh_bg a{ float:left;padding-left:10px; padding-right:10px;padding-top:10px;display:block}
.yjhfh_bg span{float:left;padding-top:10px;}
.yjhfh_bk{width:395px; border:1px #e9e9e9 solid;}
.yjhfh_img{ border:1px #e9e9e9 solid; padding:5px}
.yjhfh_img img{width:283px; height:206px;}
.yjhfh_img_content h1{ font-size:12px; font-weight:bold; text-align:center; padding:5px}
.yjhfh_img_content ul{ margin-bottom:10px}
.yjhfh_title{ background:url(yjhfh_bg3.gif) no-repeat 0px 1px; width:360px; height:32px; padding:7px 0px 0px 35px; color:#c70e16; font-weight:bold; font-size:14px }
.yjhfh_title span{ float:right; padding-right:10px; font-size:12px; font-weight:normal; }
.yjhfh_title span a{color:#c4040f}
.yjhfh_title span a:hover{color:#c4040f}
.yjhfh_content{padding:0px 10px 10px 10px}
.yjhfh_content li{ width:330px; height:24px; line-height:24px;}
.yjhfh_content h1{ font-size:14px; font-weight:bold; text-align:center; padding:4px 0px; }
.yjhfh_content_hs{ color:#686868; padding:0px 0px 5px 5px; margin-bottom:8px; border-bottom:1px #CCCCCC dotted}
.yjhfh_link{ display:block;}
.yjhfh_link ul li{width:370px;}
.yjhfh_link li{ line-height:25px; height:25px; width:370px;float:left}
.yjhfh_link span{ padding-left:20px; float:right}
.yjhfh_list{ line-height:32px;}

.yjhfh_bk1{width:270px; border:1px #e9e9e9 solid;}
.yjhfh_title1{ background:url(yjhfh_bg3.gif) no-repeat 0px 1px; width:235px; height:32px; padding:7px 0px 0px 35px; color:#c70e16; font-weight:bold; font-size:14px }
.yjhfh_title1 span{ float:right; padding-right:10px; font-size:12px; font-weight:normal; }
.yjhfh_title1 span a{color:#c4040f}
.yjhfh_title1 span a:hover{color:#c4040f}
.yjhfh_content1{padding:0px 8px 2px 8px}
.yjhfh_bk1 img{ padding:5px}

.yjhfh_bk2{width:230px; border:1px #e9e9e9 solid; height:203px}
.yjhfh_title2{ background:url(yjhfh_pic5.gif) no-repeat 0px 1px; width:200px; height:32px; padding:5px 0px 0px 30px; color:#ffffff; font-weight:bold; font-size:14px }
.yjhfh_title2 span,.yjhfh_title3 span{ float:right; padding-right:10px; font-size:12px; font-weight:normal; }
.yjhfh_title2 span a,.yjhfh_title3 span a{color:#c4040f}
.yjhfh_title2 span a:hover,.yjhfh_title3 span a:hover{color:#c4040f}
.yjhfh_title3{ background:url(yjhfh_pic5.gif) no-repeat 0px 1px; width:200px; height:32px; padding:5px 0px 0px 20px; color:#ffffff; font-weight:bold; font-size:14px }
.yjhfh_content2{padding:0px 10px 10px 10px; line-height:26px}
.yjhfh_content2 li{ line-height:26px}


/*中国毛泽东诗词研究会*/
.msc_bk{ width:330px; height:110px;float:left;}
.msc_l{ width:80px; float:left}
.msc_r{ width:230px;float:left; padding-left:10px;color:#787878; line-height:20px}
.msc_r span{color:#000000;height:30px; display:block; font-weight:bold}
.msc_l img{ border:1px #dedede solid; padding:2px}
.msc_title{ background:url(msc_pic3.jpg) no-repeat ; width:338px; height:37px; padding:5px 0px 0px 15px; color:#ffffff; font-weight:bold; font-size:14px }
.msc_title span{ float:right; padding-right:20px; font-size:12px; font-weight:normal; }
.msc_title span a{color:#ffffff}
.msc_title span a:hover{ text-decoration:underline}
.msc_list li{ line-height:24px; height:24px; padding-left:6px}
.msc_list span{ font-weight:bold}
.msc_link li{ line-height:26px; height:26px}
.msc_link span{ padding-right:20px}
.msc_content1{padding:5px;}
.msc_content1 ul{ width:220px;list-style-type:none;  padding:0px;}
.msc_content1 li{ float:left; width:50px; height:24px; padding:0px; }
.msc_bk1{width:352px; border:1px #e9e9e9 solid;}
.msc_bk1 li{ line-height:24px; padding:2px 10px}
.msc_title1{ background:url(yjh_bg4.jpg) no-repeat 2px 2px; width:340px; height:24px; padding:7px 0px 0px 10px; color:#c70e16; font-weight:bold; font-size:14px; border-bottom:1px #d5d5d5 solid; }
.msc_title1 img{ padding-right:8px; float:left; padding-top:2px}
.msc_title1 h1{ float:left}
.msc_title1 a{ float:right; padding-right:10px; font-weight:normal; font-size:12px; color:#c4040f}

.msc_content2{padding:7px 0px}
.msc_content2 li{padding:1px 2px 0px 2px; float:left;width:40px; display:block; }
.msc_title2{ background:url(yjh_pic3.jpg) no-repeat 0px 4px; padding-left:20px; border-bottom:1px #c4040f solid; font-size:12px; font-weight:bold;color:#c4040f; height:25px; line-height:25px; margin-top:0px}
.msc_title2 span{ float:left}
.msc_title2 a{ float:left}
.msc_bk2{width:230px; padding:0px 10px; }

/*专家学者*/
.zjxz { padding-left:20px}
.zjxz a{ width:120px; text-align:center; line-height:38px;display:block; float:left; font-size:14px; font-weight:bold; height:38px;}
.zjxz a:hover{ background:#c4040f; color:#FFFFFF}
.zjxz_content1{padding:5px; width:238px; margin:0 auto}
.zjxz_content1 ul{ width:240px;list-style-type:none;  padding-top:10px;}
.zjxz_content1 li{ float:left; width:45px; font-size:14px; height:30px; padding:0px 10px 0px 25px; background:url(yjh_bg5.jpg)  no-repeat  3px 3px; }
.zjxz_p{ font-size:16px; line-height:32px}
.zjxz_p p{ font-size:16px; line-height:32px}

/*网友留言*/
.pl2_w_titBox{width:985px; height:108px; background:url(pl2-w-01.jpg) repeat-x; margin:0 auto; text-align:center;}
.pl2_w_titBox .h1{font-family:"微软雅黑", Arial; font-size:24px; color:#2164bd; font-weight:400;}
.pl2_w_titBox .h1_info{font-size:12px; color:#000; line-height:24px;}
.pl2_w_plgl{width:955px; height:26px; background:url(pl2-w-bg.jpg) repeat-x; margin:0 auto; padding-top:7px;}
.pl2_w_plgl span{display:block; background:url(pl2-w-ty.jpg) no-repeat right; width:96px; height:26px; line-height:26px; color:#c4040f; background-color:#fff; font-size:14px; font-weight:bold; padding-left:20px; margin-left:20px;}
.pl2_w_main{width:985px; margin:0 auto; padding-top:10px;}

.pl2_w_left{float:left;}
.pl2_w_right{float:right;}
.leftwidth{width:955px; margin:0 auto;}
.rightwidth{width:310px;}

.pl2_w_pl{border:1px solid #f6cb77; padding:1px;}
.pl2_w_pl_head{font-size:12px; height:37px; line-height:35px;}
.pl2_w_pl_neirong{border-top:1px solid #dcdcdc;}
.pl2_w_pl_bgGray{height:26px; background-color:#f4f4f4; line-height:26px;}

.userName{float:left; margin-left:10px; line-height:26px; height:26px; display:block; _display:inline-block;}
.timer{float:right; display:block; height:26px; line-height:26px; _display:inline-block; margin-right:10px; font-family:Arial, Helvetica, sans-serif;}
.userTxt{margin:20px 20px 10px 20px; display:block; width:620px;}
.userTxt p{margin:0; padding:0;}
.userTxt1{margin:20px; padding:5px 5px 20px 5px; display:block; width:880px; border:1px #cad2d4 dotted; background:#f0f4f5 }
.userTxt1 p{float:left;width:450px; color:#0000FF}
.userTxt1 strong{float:left; width:40px;padding-right:5px;padding-left:10px; display:block}

.bottomPageControl{background-color:#fff7e7; height:32px; line-height:32px; text-align:center;}
.blueLinkBtn{padding:0 4px; margin-right:4px; text-decoration:none; border:1px solid #cbcbcb; background:#fff; color:#000;}
.blueLinkBtn:hover{background-color:#d80000; border:1px solid #cbcbcb; color:#FFFFFF }
.blueLinkBtn_mr{background-color:#d80000; border:1px solid #cbcbcb; color:#FFFFFF;padding:0 4px; margin-right:4px;  }
.blueLinkBtn_mr:hover{background-color:#d80000; border:1px solid #cbcbcb; color:#FFFFFF;padding:0 4px; margin-right:4px;  }
.pl2_w_lyTitle{background:url(pl2-w-bg02.jpg) repeat-x; height:30px; border-bottom:1px solid #f6cb77; line-height:30px;}
.inputBox{width:752px; height:18px; border:1px solid #abadb3;}
.inputBox1{width:80px; height:18px; border:1px solid #abadb3;}
.pl2_w_plbox_p{padding:10px;}
.pl2_w_plbox_p1{padding:10px 10px 10px 64px;}
.pl2_w_plbox_p span,.pl2_w_plbox_p1 span{margin-top:3px; margin-right:5px;}
.pl2_w_plbox_p a,.pl2_w_plbox_p1 a{margin-top:3px; margin-left:10px;}
.pl2_w_textBox textarea{ margin-left:64px;width:752px; height:154px; display:block; background-color:#fff; border:1px solid #999;}
.pl2_w_sub{background:url(pl2-w-btn.jpg) no-repeat; margin:0; padding:0; border:none; width:68px; height:22px;}
.yzm{border:1px solid #666; margin-left:10px;}
#sub{margin-right:15px;}
.bai12 {font-size: 12px; line-height: 20px; color: #fff; text-decoration: none;}
.bai12 a{color:#FFF; font-size:12px; text-decoration:none}
.bai12 a:hover{ color:#fcf300}